{% extends 'cocktails/base.html' %}
{% block title %}Карта бара{% endblock %}

{% block content %}
<a href="{% url 'index' %}" style="color:#ffd700;">&#8592; На главную</a>
<!-- Список пользователей -->
<div class="clients-list">
    {% for user in queryset1 %}
        <p>{{ user }} : {{ user.balance }}</p>
    {% endfor %}
</div>

<!-- Категории крепости -->
<div>
    <strong>Крепость:</strong>
    {% for al in alco %}
        <a href="/alcohol/{{ al.pk }}" class="category-link" style="padding:10px;">{{ al }}</a>
    {% endfor %}
</div>
{% endblock %}
