{% extends 'cocktails/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта бара</title>
    <style type="text/css">
openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

openbtn:hover {
  background-color: #444;
}
</style>
</head>
<body>

<a href="http://127.0.0.1:8000/rules">Правила</a> <a href="http://127.0.0.1:8000/wishlist">Вишлист</a> <a href="http://127.0.0.1:8000/admin">admin</a> <a href="http://127.0.0.1:8000/refresh">refresh</a>
<h1> Бар "У Шлёппы"</h1>
{% for user in queryset1 %}
    <h3 class="clients">{{ user }} : {{ user.balance }}</h3>
{% endfor %}
<div class="cont">
    <div class="cats">
<!--    <a href="/taste/1">Кислые</a>-->
    <a href="/taste/2">Горькие</a>
    <a href="/taste/3">Нейтральные</a>
    <a href="/taste/4">Пикантные</a>
    <a href="/taste/5">Цитрусовые</a>
    <a href="/taste/6">Мятные</a>
    <a href="/taste/7">Сладкие</a>
    <a href="/taste/11">Кофейные</a>
    <p></p>
    <a href="/alcohol/3">Легкие</a>
    <a href="/alcohol/2">Средние</a>
    <a href="/alcohol/1">Крепкие</a>
</div>
<div class="flex">
{% for i in cocks %}
    <div class="flex-itm"><h3>{{ i }}</h3>
    <li>Вкус: {{ i.taste }}</li>
    <li>Бокал: {{ i.group }}</li>
    <li>Крепость: {{ i.alcohol }} ({{i.alcohol_perc}}°)</li>
    <li class="cost">Стоимость: <b>{{ i.cost }}</b></li>
    <p class="button"><a class="lenk" href="{% url 'cocktail' i.pk %}">Подробнее</a></p></div>
{% endfor %}

<div id="mySidepanel" class='sidepanel'>
    <button class="openbtn" onclick="openNav()">&#9776; Заказы </button>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="items">
{% for bill in bills %}
    <a>{{ bill.cock_name }} {{ bill.timestamp }} {{ bill.client }} {{ bill.cost }} Руб</a>
    <br>

{% endfor %}
    </div>
</div>
</div>
</div>
</body>
</html>
{% endblock %}