{% extends 'cocktails/base.html' %}
{% block title %}Правила{% endblock %}

{% block content %}
<section style="padding:20px; max-width:800px; margin:auto;">
    <a href="{% url 'index' %}" style="color:#ffd700;">&#8592; На главную</a>
    <h2>Правила бара</h2>
    <ul style="margin-top:20px; line-height:1.8;">
        <li>Шлёппа говорит: "ты не можешь заказывать при отрицательном балансе"</li>
        <li>Шлёппа говорит: "это не алкоголизм, если ты пьешь в баре"</li>
        <li>Шлёппа говорит: "подари бару алкоголь, а бар подарит тебе алкоголь"</li>
        <li>Шлёппа говорит: "дешевый алкоголь вызывает головные боли"</li>
        <li>Шлёппа говорит: "не забывай пить водически, чтобы не болеть физически"</li>
    </ul>
</section>
{% endblock %}
