{% extends 'cocktails/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта бара</title>
    <link type="text/css" href="{% static 'cocktails/css/style1.css' %}" rel="stylesheet">
</head>
<body>
<h1>Бар "У Шлёппы"</h1>
<div class="cont">
        <a class="rec_p" href="{% url 'index' %}">На главную</a>
<div class="flex">
{% for i in cocks.all %}
    <div class="flex-itm"><h3>{{ i }}</h3>
    <li>Вкус: {{ i.taste }}</li>
    <li>Тип: {{ i.group }}</li>
    <li>Крепость: {{ i.alcohol }}</li>
    <li class="cost">Стоимость: <b>{{ i.cost }}</b></li>
    <p class="button"><a class="lenk" href="{% url 'cocktail' i.pk %}">Подробнее</a></p></div>
{% endfor %}
</div>
</div>
</body>
</html>
{% endblock %}